.donepage {
  position: absolute;
  width: 428px;
  height: 926px;
  left: 0px;
  right: 0px;
  margin: auto;
  background: linear-gradient(55deg, #5739D6 62%, #21E8E5 30%);
}

.tr-bl {
  position: absolute;
  width: 250px;
  right: 20%;
  top: 20%;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.30) 0 20px 3px 2px;
}
  
.done-title {
  position: absolute;
  width: 394px;
  height: 132px;
  bottom: 30%;
  font-family: 'Outfit';
  font-style: normal;
  text-align: right;
  font-weight: 900;
  font-size: 44px;
  line-height: 44px;
  color: #FFFFFF;
}
  
.done-btn {
  position: absolute;
  bottom: 20%;
  width: 276px;
  height: 76px;
  right: 20%;
  font-family: 'Outfit';
  color: #282828;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  background: #FFFFFF;
}