.payment {
  width: 428px;
  height: 926px;
  margin: auto;
  background: #FF86B3;
}

.u-title {
  position: absolute;
  left: 45%;
  top: 14.69%;
  bottom: 77.54%;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #FFFFFF;
}

.m-title {
  position: absolute;
  left: 48%;
  top: 19.98%;
  bottom: 72.25%;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #FFFFFF;
}

.b-title {
  position: absolute;
  left: 43.5%;
  top: 25.81%;
  bottom: 66.41%;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 72px;
  text-align: center;
  color: #FFFFFF;
}

.applepay {
  position: absolute;
  width: 276px;
  height: 76px;
  left: 43%;
  top: 387px;
  background: #FFFFFF;
}

.googlepay {
  position: absolute;
  width: 276px;
  height: 76px;
  left: 43%;
  top: 504px;
  background: #FFFFFF;
}

.a-pay-img {
  position: absolute;
  width: 140px;
  height: 120px;
  left: 26%;
  top: -30%;
}

.g-pay-img {
  position: absolute;
  width: 140px;
  height: 120px;
  left: 26%;
  top: -25%;
}

.skyshaped {
  width: 150px;
  position: absolute;
  left: 35%;
  bottom: 5%;
  clip-path: ellipse(118px 350px at 128% 85%);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.50) 0 10px 10px 3px;
}

