.prepare-page {
    width: 428px;
    height: 926px;
    margin: auto;
    background-color: #FFE84A;
  }
  
  .title {
    position: absolute;
    width: 229px;
    height: 72px;
    top: 55%;
    left: 44.5%;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 72px;
  }
  
  .tr-img {
    width: 250px;
    position: absolute;
    top: 15%;
    left: 43.5%;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.10) 0 20px 3px 3px;
  }